<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Cars</title>

	<style>

	</style>
</head>

<body>
	<h3>Cars</h3>

	<form>
		<input type="button" value="List cars" onclick="listCars()">
		<label>Car:</label>
		<input type="text" id="car">
		<input type="button" value="How many times appears" onclick="countAppearances()">
		<input type="button" value="Add car" onclick="addCar()">
	</form>

	<p id="result"></p>

	<script>
		"use strict";

		function listCars() {
		
		}

		function countAppearances() {
		
		}

		function addCar() {

		}

</script>
</body>

</html>