<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Comma separated values</title>
    <!--
    Displaying CSV formatted data
    -->
</head>

<body>
    <h3>Comma separated values</h3>

    <p id="result"></p>

    <script>
        "use strict";

        let studentRecord = "Jane Doe;12/24/1990;Helsinki;Haaga-Helia University of Applied Sciences";

        function show() {

            document.getElementById("result").innerHTML = "write output here";
        }

        show();
    </script>
</body>

</html>