<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Gift wishes</title>
</head>

<body>
    <h3>Gift wishes</h3>

    <form>
        <label>Wish:</label>
        <input type="text" id="wish" size="25">
        <input type="button" value="Add" onclick="addWish()">
    </form>
    <br>

    <!-- This is where the results will be written -->
    <div id="result"></div>

    <script>
        "use strict";
        
        let wishes = [];

        // function to add a wish
        function addWish() {
            
        }

        // function to produce output to the user
        function listWishes() {
            
            document.getElementById("result").innerHTML = "write output here";
        }

    </script>
</body>

</html>