<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Savings growth</title>
</head>

<body>
    <h1>Savings growth</h1>

    <p>
        <label>Savings goal (€):
            <input type="number" id="goal">
        </label><br>
        <label>Monthly saving (€):
            <input type="number" id="monthly">
        </label>
    </p>
    
    <button onclick="showSavingsGrowth()">Show Savings Growth</button>

    <p id="result"></p>
    <script src="savings.js"></script>
</body>

</html>