<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Courses</title>

	<style>
		label {
			display: block;
			width: 6em;
			float: left;
		}
	</style>
</head>

<body>
	<h3>Courses</h3>

	<p id="result"></p>

	<script>
		"use strict";

		let courses = ["STU001HH1AE", "ICB001HH1AE", "COM001HH1AE", "DIG001IT1AE", "SOF001IT1AE", "ICI001IT1AE", "ICB001IT1AE"];
		
		let text = "";
		for (let i = 0; i < courses.length; i++) {
			text = text + courses[i] + "<br>";
		}

		document.getElementById("result").innerHTML = text;
	</script>
</body>

</html>