<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Electricity prices</title>
</head>

<body>
    <h3>Electricity prices</h3>

    <div id="result"></div>

    <script>
        "use strict";
        
        let hourlyPrices = [6.91, 3.26, 1.62, 0.66, 0.91, 0.99, 3.13, 5.01, 16.45, 23.23, 17.32, 8.29, 3.77];

        function showPrices() {

            document.getElementById("result").innerHTML = "Write output here";
        }

        showPrices();
    </script>
</body>

</html>