<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Lottery numbers</title>
	<style>
		.number {
			display: inline-block;
			width: 40px;
			height: 40px;
			border-radius: 20px;
			background-color: gold;
			text-align: center;
			line-height: 40px;
			margin: 5px;
			font-weight: bold;
		}
	</style>
	<!-- 
		Program draws seven unique random numbers between 1-40.
	-->
</head>

<body>
	<h3>Lottery numbers</h3>

	<!-- The answer will be written here -->
	<div id="result"></div>

	<script>
		"use strict";
		
		function drawNumbers() {
			// Array to store the lottery numbers

			// Keep drawing numbers until we have 7 different numbers

			// Draw a number between 1-40:
			// Math.round(Math.random() * 40 + 1)

			//  Go through the previously drawn numbers and check if the drawn number is already among the previously drawn numbers

			// If the drawn number was not among the previously drawn numbers, add it to the list

			// Build the lottery numbers into a string for display

			// Write the answer to the HTML page
			document.getElementById("result").innerHTML = "write output here";
		}

		drawNumbers();
	</script>
</body>

</html>