<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Annual rainfall</title>
</head>

<body>
	<h3>Annual rainfall</h3>

	<p id="result"></p>

	<script>
		"use strict";

		const monthlyRainfalls = [47.0, 36.6, 34.7, 37.0, 41.9, 47.5, 61.7, 74.8, 65.4, 69.7, 66.1, 54.6]

		let sum = 0;
		for (let i = 0; i < monthlyRainfalls.length; i++) {
			sum = sum + monthlyRainfalls[i];
		}

		document.getElementById("result").innerHTML = "Annual rainfall in Helsinki is " + sum.toFixed(1) + " mm";

	</script>
</body>

</html>