<!DOCTYPE html>

<html>

<head>
  <meta charset="UTF-8">
  <title>Hours and minutes</title>
</head>

<body>
  <h3>Hours and minutes</h3>

  <p>
    <label>Travel time in minutes:</label>
    <input type="text" name="total_minutes" id="total_minutes" size="5">
  </p>

  <button onclick="calculate()">Calculate</button>

  <!-- Empty element for result, to be amended with JavaScript -->
  <p id="answer"></p>
  <p id="answer_rounded"></p>

  <script src="hours_minutes.js"></script>

</body>

</html>