<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Team Introduction</title>
  <link rel="stylesheet" href="styles.css" />
</head>

<body>
  <header>
    <div class="logo"></div>
  </header>

  <main>
    <h1>Team name</h1>
    <h2>Team goals</h2>
    <p>Describe goals here</p>
    <h2>Members</h2>
    <ul>
      <li>Add links to member profiles</li>
    </ul>
  </main>

  <footer>
    <p>Introduction to Software Development</p>
    <p id="datetime"></p>
  </footer>

  <script>

  </script>
</body>

</html>